ul {
    display: flex;
    background-color: lightgray;
    justify-content: space-evenly;
    margin: 20px;
}

    ul li {
        margin: 20px;
        padding: 10px;
        list-style: none;
        font-size: 22px;
    }

.game-showcase {
    flex-flow: row wrap-reverse;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    margin: 50px;
    padding: 10px;
}

    .game-showcase img {
        width: 30%;
        height: 30%;
        background-color: darkgreen;
        border: 5px solid black;
        margin: 20px;
    }

    .game-showcase article {
        padding: 15px;
        margin: 40px;
        text-align: justify;
        font-family: Cambria;
        font-size: 20px;
    }

        .game-showcase article h2 {
            padding-top: 35px;
            text-align: center;
        }


.even-cell {
    background-color: green;
}

.odd-cell {
    background-color: lightgreen;
}

main {
    margin: 10px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 75px;
    display: flex;
    justify-content: center;
}

.HUD {
    align-content: center;
    padding: 0px;
    margin: 0px;
    background-color: green;
    border: 8px groove lightgreen;
}

.mine-count {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

    .mine-count img {
        width: 10%;
        height: 10%;
        margin-right: 10px;
    }

.flag-count {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

    .flag-count img {
        width: 10%;
        height: 10%;
        margin-right: 10px;
    }

.time-passed {
    text-align: center;
    font-family: Cambria;
    font-style: italic;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.game-table {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Game {
    padding: 0px;
    border: 4px solid black;
    background-color: black;
}

    .Game tr td {
        padding: 20px;
    }

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
